.payment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.payment-form {
    height: 100px;
    min-width: 500px;
 
}